<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project List 2</title>
  <meta name="description" content="HTML Bolier Plate With Bootstrap">  
  <meta name="viewport" content="width=device-width; initial-scale = 1.0;" />
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon"> 
  <link href="style.css" rel="stylesheet" type="text/css">

  <!--[if lt IE 9]><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script> 
  <![endif]--> 
  <script type="text/javascript">
    var mainfn_conf = {};
    mainfn_conf.themeUrl = '';
  </script>
  <script type="text/javascript" src="js/main.js?v1"></script>

</head>
<body>
  <!-- header -->
  <div class="module main-header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="?state=featured">Project List 2</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="?state=featured">Featured</a></li>
            <li> <a href="?state=Wordpress">wordpress</a></li>
            <li>  <a href="?state=Political">Political</a></li>
            <li><a href="?state=NationBuilder">NationBuilder</a> </li>
            <li><a href="?state=responsive">Responsive</a> </li>
            <li><a href="?state=Bootstrap">Bootstrap</a> </li>



          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>
  <!-- end header -->
  <!-- content layout -->
  <div class="module content-layout">
    <div class="container" id="content-main">

    </div>

  </div>
  <!-- end content layout -->
  <!-- Footer layout -->

  <div class="module main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <p>Copyright Webgrity.com</p>
        </div>
      </div>
    </div>

  </div>
  <!-- end Footer layout -->
  <script type="text/template" id="tpl1">

    <%
    var i= 1;
    _.each(data, function(row) {

      %>
      <%  if (i==1) {%>  <div class="row"> <% } %>
      <div class="col-md-3 <%= i %>">
        <h5><%= row.ProjectName %></h5>
        <% if (row.ThumbUrl!='') {%>
          <a class="image-link" href="<%= row.siteUrl %>" target="_blank">
            <img width="250" height="150" src="http://gdriv.es/project-list/images/<%= row.ThumbUrl %>" width="100" >
          </a>
          <% } else { %> <img src="http://placehold.it/250x150"> <% } %>

        </div>

        <% 
        i++;
        if (i==5) {%>  </div> <% }
          if (i==5) {i=1;}
      }); %>




  </script>
</body>
</html>
